.l-header {
  background-color: #f04b26;
  grid-area: header;
  height: 70px;
  display: grid;
  grid-template-columns: 1200px;
  justify-content: center;
}

.l-main {
  background-color: rebeccapurple;
  grid-area: main;
}

.l-footer {
  background-color: rgb(75, 128, 84);
  grid-area: footer;
}
